body {
  margin: 0;
  background-color: white;
}

/****************************************** NAVBAR CSS *****************************************/

.navbar {
  background-color: #040C1C;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index:1;
}

.navlogo {
  margin: 0;
  justify-content: center;
  color: white;
  font-family: 'Russo One', sans-serif;
  margin-left: 40px;
}

.react-logo {
  width: 40px;
  margin-left: auto;
  margin-right: 40px;
}

.navlink, .navlink2 {
  color: white;
  font-size: 20px;
  font-family: 'Kodchasan', sans-serif;
  cursor: pointer;
}

.navlink {
  margin-left: auto;
  margin-right: 40px;
}

.navlink2 {
  margin-right: 40px;
}

/****************************************** CONTENT CSS *****************************************/

.content-out {
  display: flex;
  background-color: #93C1EC;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 1000%;
  margin-bottom: 100px;
}

.content-in {
  margin-right: auto;
  margin-top: 50px;
}

.content1, .content2 {
  margin-left: 100px;
  margin-bottom: 10px;
  font-family: 'Kodchasan', sans-serif;
  color: white;
}

.content1 {
  margin-top: 60px;
}

.skill {
  display: flex;
  margin-left: 80px;
  margin-top: 60px;
}

.skills {
  padding: 20px;
  border-radius: 50%;
  height: auto;
  width: auto;
  max-width: 200px;
}

.skills2 {
  padding: 20px;
  border-radius: 50%;
  height: auto;
  width: auto;
  max-width: 200px;
  margin-bottom: 60px;
}

.react {
  margin-top: 40px;
  margin-left: 200px;
}

/****************************************** PROJECT CSS *****************************************/

.project {
  margin-bottom: 200px;
}

.title-proj {
  text-align: center;
  font-family: "Bagel Fat One", system-ui;
  margin: 0;
}

.container-proj {
  display: flex;
  margin: auto;
  width: 95%;
  height: 600px;
  border-radius: 12px;
}

.name {
  display: flex;
  align-items: center;
  margin: auto;
}

.proj {
  margin: 0;
  font-size: 30px;
  color: white;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: auto;
  padding: 5px;
}

.images {
  background-color: white;
  padding: 20px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card-img {
  width: 200px;
  height: 160px;
}

.project-card {
  display: flex;
  text-align: center;
  gap: 200px;
  margin-top: 100px;
  font-family: 'Kodchasan', sans-serif;
  font-weight: bold;
}

/****************************************** INNER CSS *****************************************/

.inner-content {
  display: flex;
  align-content: center;
  gap: 100px;
  width: 90%;
  margin: auto;
  border-top: 1px solid black;
}

.inner, .inner2 {
  height: 400px;
  width: 100%;
}

.inner {
  margin-left: auto;
  text-align: center;
  font-family: "Bagel Fat One", system-ui;
  font-size: 40px;
  margin-top: 120px;
}

.inner2 {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-top: 100px;
}

.inner-p1 {
  color: #93C1EC;
}

.inner-p2 {
  font-size: 20px;
}

.cvsu {
  width: 400px;
  height: 300px;
}

/****************************************** SKILL CSS *****************************************/

.skill-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-color: #e9f1ff;
  display: flex;
  flex-direction: column;
  font-family: 'Kodchasan', sans-serif;
  text-align: center;
}

.a {
  font-family: "Bagel Fat One", system-ui;
}

.tab {
  color: #0c2047;
}

/****************************************** STRENGTH CSS *****************************************/

.strength-container {
  font-family: 'Kodchasan', sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  align-items: center;
  text-align: center;
}

/****************************************** RECENT *****************************************/

.recent-container {
  font-family: 'Kodchasan', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #e9f1ff;
  color: #0c2047;
}

.h1-recent {
  font-family: "Bagel Fat One", system-ui;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 80%;
}

.slideshowSlider {
  white-space: nowrap;
}

.slide {
  width: 100%;
  display: inline-block;
}

/* Buttons */
.slideshowDots {
  text-align: center;
  margin-bottom: 50px;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #1a4191;
}

/****************************************** FOOTER *****************************************/

.footer {
  display: flex;
  width: 100%;
  border-top: 1px;
  color: #1a4191;
  border: 1px solid #eff0f1;
  font-family: 'Kodchasan', sans-serif;
  box-shadow: 0px 0px 10px 5px rgb(241, 240, 240);
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: bold;
}

.foot1 {
  float: left;
  margin-left: 200px;
}

/********************************************* SCREEN RESOLUTION ****************************************/

@media only screen and (max-width: 1250px) {

  .skills, .skills2 {
    width: 140px;
  }
}

@media only screen and (max-width: 1000px) {

  .content-out {
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 200%;
  }

  .skills, .skills2 {
    width: 100px;
  }

  .react {
    margin-top: 40px;
    margin-left: 140px;
  }

  .card-img {
    width: 100px;
    height: 100px;
  }

  .project-card {
    gap: 60px;
  }

  .inner-content {
    display: flex;
    flex-direction: column;
  }

  .inner {
    margin: auto;
    margin-top: 20px;
  }

  .inner2 {
    margin: auto;
    margin-top: -300px;
  }

  .skill-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .foot1 {
    float: left;
    margin-left: 20px;
  }
  
}

@media only screen and (max-width: 700px) {

  .skills, .skills2 {
    width: 80px;
  }

  .foot1 {
    float: left;
    margin-left: 20px;
  }

  .inner, .inner2 {
    height: 400px;
    width: 100%;
  }

  .cvsu {
    width: 250px;
    height: 200px;
    margin-top: 100px;
  }
}

@media only screen and (max-width: 640px) {

  .skills, .skills2 {
    width: 60px;
  }

  .react {
    margin-top: 40px;
    margin-left: 120px;
  }

  .project-card {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 100px;
    margin-top: 100px;
  }

  .card-img {
    width: 120px;
    height: 100px;
  }

  .project {
    margin-bottom: 100px;
  }

  .foot1 {
    margin: auto;
    text-align: center;
    font-size: 16px;
    padding: 5px;
  }
}

@media only screen and (max-width: 450px) {

  .content1, .content2 {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .skill {
    margin-left: 40px;
    margin-top: 60px;
  }
  
  .skills, .skills2 {
    padding: 10px;
  }

  .react {
    margin-top: 40px;
    margin-left: 40px;
  }

  .card-img {
    width: 80px;
    height: 80px;
  }

  .a {
    font-size: 26px;
  }
}

@media only screen and (max-width: 300px) {

  .content-out {
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 100%;
  }

  .content1, .content2 {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .content1 {
    font-size: 26px;
  }

  .skill {
    margin-left: 20px;
    margin-top: 60px;
  }
  
  .skills, .skills2 {
    padding: 10px;
  }

  .react {
    margin-top: 20px;
    margin-left: 20px;
  }

  .project-card {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 100px;
    margin-top: 100px;
  }

  .project {
    margin-bottom: 60px;
  }

  .card-img {
    width: 120px;
    height: 100px;
  }

  .a {
    font-size: 26px;
  }
}

/* ANIMATIONS */

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: react-logo-spin infinite 20s linear;
  }
}

@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}